@font-face {
  font-family: 'FiraCodeNerd';
  src: url('FiraCodeNerdFont-Light.ttf') format('truetype');
  font-display: swap;
  font-weight: 200;
}

@font-face {
  font-family: 'FiraCodeNerd';
  src: url('FiraCodeNerdFont-Medium.ttf') format('truetype');
  font-display: swap;
  font-weight: 300;
}

@font-face {
  font-family: 'FiraCodeNerd';
  src: url('FiraCodeNerdFont-Retina.ttf') format('truetype');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'FiraCodeNerd';
  src: url('FiraCodeNerdFont-Regular.ttf') format('truetype');
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'FiraCodeNerd';
  src: url('FiraCodeNerdFont-SemiBold.ttf') format('truetype');
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: 'FiraCodeNerd';
  src: url('FiraCodeNerdFont-Bold.ttf') format('truetype');
  font-display: swap;
  font-weight: 700;
}
/* FiraCodeMono -- smaller icons */
@font-face {
  font-family: 'FiraCodeNerdMono';
  src: url('FiraCodeNerdFontMono-Light.ttf') format('truetype');
  font-display: swap;
  font-weight: 200;
}

@font-face {
  font-family: 'FiraCodeNerdMono';
  src: url('FiraCodeNerdFontMono-Medium.ttf') format('truetype');
  font-display: swap;
  font-weight: 300;
}

@font-face {
  font-family: 'FiraCodeNerdMono';
  src: url('FiraCodeNerdFontMono-Retina.ttf') format('truetype');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'FiraCodeNerdMono';
  src: url('FiraCodeNerdFontMono-Regular.ttf') format('truetype');
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'FiraCodeNerdMono';
  src: url('FiraCodeNerdFontMono-SemiBold.ttf') format('truetype');
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: 'FiraCodeNerdMono';
  src: url('FiraCodeNerdFontMono-Bold.ttf') format('truetype');
  font-display: swap;
  font-weight: 700;
}

