
@font-face {
  font-family: 'FiraMonoNerd';
  src: url('FiraMonoNerdFont-Regular.otf') format('opentype');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'FiraMonoNerd';
  src: url('FiraMonoNerdFont-Medium.otf') format('opentype');
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: 'FiraMonoNerd';
  src: url('FiraMonoNerdFont-Bold.otf') format('opentype');
  font-display: swap;
  font-weight: 700;
}
/* FiraMonoMono -- smaller icons */

@font-face {
  font-family: 'FiraMonoNerdMono';
  src: url('FiraMonoNerdFontMono-Regular.otf') format('opentype');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'FiraMonoNerdMono';
  src: url('FiraMonoNerdFontMono-Medium.otf') format('opentype');
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: 'FiraMonoNerdMono';
  src: url('FiraMonoNerdFontMono-Bold.otf') format('opentype');
  font-display: swap;
  font-weight: 700;
}

